.spin-container {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

.tag-cursor-text {
  cursor: text;
}

.ant-layout, .ant-layout-header {
  background: #FFFFFF;
}

.ant-tag-has-color,
.ant-tag-has-color a,
.ant-tag-has-color a:hover,
.ant-tag-has-color .anticon-close,
.ant-tag-has-color .anticon-close:hover {
  color: #170b0b;
}

.ant-form-item-label {
  text-align: left;
}

.as-progress {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

.antd-pro-charts-pie-pie.antd-pro-charts-pie-hasLegend
  .antd-pro-charts-pie-chart {
  width: 100%;
  margin: 0 0 12px 0;
}

.antd-pro-charts-pie-pie .antd-pro-charts-pie-legend {
  position: relative;
  -webkit-transform: none;
  transform: none;
}

.report-chart {
  border: 1px solid #e8e8e8;
  margin: 1em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.fullscreen-enabled {
  background: #FFFFFF;
  overflow: scroll !important;
  padding: 1em 2em 2em;
}

.transactions-grid-upload {
  .ant-upload-select-text {
    width: 100%;
  }
}

.antd-pro-charts-chart-card-meta {
  span {
    font-size: 19;
  }
}

.has-error-message-custom {
  color: #f5222d;
}

.has-error-field-custom {
  border: 1px solid red;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #FF4F00;
}

.filter-required .ant-select-selection {
  border-radius: 1px;
  border-color: red;
}

.disabled-link {
  pointer-events: none;
}